# Ustawienia lokalne i Android Studio
*.iml
.gradle/
.idea/
local.properties

# Wygenerowane pliki budowania (Krytyczne!)
build/
*/build/

# Profilowanie i kod natywny
/captures/
.externalNativeBuild/
.cxx/

# Pliki systemowe OS
.DS_Store
